<section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3 style="font-family: Montserrat;">Hey, Beautiful!</h3>
        <p style="font-family: Montserrat; padding-bottom: 30px;">Which aspects of your life do you want to improve on?</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box" style="background-image: url(https://assets-ouch.icons8.com/thumb/16/bccab30a-be64-4f5a-8692-65c463a2b2e7.png); background-size: 30%; background-position-y: top; background-position-x: left; background-repeat: no-repeat; margin-bottom: 5%">
            <h4 class="title" style="margin-left: 50px; text-align: center; margin-top: 8px; margin-bottom: 5px"><a href="">Personal Development</a></h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box" style="background-image: url(https://assets-ouch.icons8.com/thumb/248/05835a30-dd71-492e-9e05-5078635c509f.png); background-size: 30%; background-position-y: top; background-position-x: left; background-repeat: no-repeat; margin-bottom: 5%">
            <h4 class="title" style="margin-left: 50px; text-align: center; margin-top: 8px; margin-bottom: 5px"><a href="">Fitness & Health</a></h4>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box" style="background-image: url(https://assets-ouch.icons8.com/thumb/47/5ed039c4-cd88-47da-995b-84da59c18c1b.png); background-size: 30%; background-position-y: top; background-position-x: left; background-repeat: no-repeat; margin-bottom: 5%">
            <h4 class="title" style="margin-left: 50px; text-align: center; margin-top: 8px; margin-bottom: 5px"><a href="">Career & Work</a></h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box" style="background-image: url(https://assets-ouch.icons8.com/thumb/346/24d3ad20-7087-412e-8de1-0d10413886cc.png); background-size: 30%; background-position-y: top; background-position-x: left; background-repeat: no-repeat; margin-bottom: 5%">
            <h4 class="title" style="margin-left: 50px; text-align: center; margin-top: 8px; margin-bottom: 5px"><a href="">Spirituality</a></h4>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box" style="background-image: url(https://assets-ouch.icons8.com/thumb/424/4681257f-b6b9-4204-9907-811b4f79f3b5.png); background-size: 30%; background-position-y: top; background-position-x: left; background-repeat: no-repeat; margin-bottom: 5%">
            <h4 class="title" style="margin-left: 50px; text-align: center; margin-top: 8px; margin-bottom: 5px"><a href="">Family</a></h4>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box" style="background-image: url(https://assets-ouch.icons8.com/thumb/514/46aa9e33-6453-40a1-b00a-2acde732d833.png); background-size: 30%; background-position-y: top; background-position-x: left; background-repeat: no-repeat; margin-bottom: 5%">
            <h4 class="title" style="margin-left: 50px; text-align: center; margin-top: 8px; margin-bottom: 5px"><a href="">Love & Relationship</a></h4>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #services -->